# Read Data

In [ ]:
import pandas as pd
df=pd.read_csv('http://files.zillowstatic.com/research/public_v2/invt_fs/Metro_invt_fs_uc_sfrcondo_smoothed_month.csv')

In [ ]:
df.head()

# 1. Print the number of rows and columns of the dataset

In [ ]:
def row_col_count():
  # write your code here
  
  return  row,col
row_col_count()

# 2. Find the sum of values of column 2018-01-31

In [ ]:
def sum_val():
  # write your code here
  return sum
sum_val()

# 3. Find the sum of values of column 2018-03-31, where statename is CA

In [ ]:
def sum_val1():
  #write your code here
  return sum1
sum_val1()